node_modules
dist
out
.DS_Store
.eslintcache
*.log*
*.tsbuildinfo
build/icons/preview/
build/icons/Crescent.iconset/

# Test files are not allowed in the repository
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/*.test.js
**/*.test.jsx
**/*.spec.js
**/*.spec.jsx
**/__tests__/
